body {
    background-color: #a3a2a0;
    }
h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Copperplate",sans-serif;
    text-decoration: underline;
  }

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 120px 120px 120px;
    
  }
  
.box {
    background: #ccc;
    color: #ggg;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    font-size: 70px;
    margin-top: 10px;
  }
.box:hover {
  background: white;
}

.container {
    display: grid;
    place-items: center;
} 

button {
  width: 120px;
  height: 40px;
  font-size: 30px;
  color: #ggg;
  text-align: center;
}

.win{
  color: red;
}